<!DOCTYPE html>
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<title>Dbrett</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	
	<header id="main_navigation" class="clearfix">
			<%= link_to "Darren Brett King", root_path, class: "name" %>
			<nav>
				<%= link_to "Articles", posts_path %>
				<a href="#">Projects</a>
				<a href="#">Contact</a>
			</nav>
		</header>

<%= yield %>

		<footer id="main_footer">
			<p class="copyright">&copy; 2016 Darren King</p>
			<nav>
				<a href="http://facebook.com/darrenbrettking" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="http://github.com/darrenbrett" target="_blank"><i class="fa fa-github"></i></a>
				<a href="#"></a>
			</nav>
		</footer>

</body>
</html>
